/* some style */

body {
    color: #333;
    font-family:"Lato","Helvetica Neue",Helvetica,sans-serif;
}

#app {
    margin: 12px;
}

h1 {
    font-size: 26pt;
}

#result {
    font-size: 18pt;
    display: block;
}


button {
    padding: 6px;
    width: 150px;
    font-size: 12px;
}




